* {
    box-sizing: border-box;
}
body {
    background-color: skyblue;
    margin: 0;
   font-family: Helvetica;
   display: grid;
   gap: 5vmin;
}

.alphabet {
    margin: 10px;
    display: grid;
    grid-template-columns: 75% 75%;
    grid-template-rows: 13;
    align-items: start;
    justify-content: left;
    overflow: auto;
    padding: 1em;
    border-radius: 5%;
    position: absolute;
    row-gap: 5vmin;
    column-gap: 1vmin;
}

h1, h2 {
    margin: 0 auto;
    align-content: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 vh;
}

#guesses {
    border: solid black 2px;
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
    justify-content: center;
    padding: 5vmin;
    bottom: 0;
    position: absolute;
    height: 20vh;
    width: 20vh;
}

#reset {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
}