* {
    box-sizing: border-box;
}
body {
    background-color: skyblue;
    margin: 0;
   font-family: Helvetica;
   display: grid;
   gap: 5vmin;
}

.alphabet {
    margin: 10px;
    display: grid;
    grid-template-columns: 75% 75%;
    grid-template-rows: 13;
    align-items: start;
    justify-content: left;
    overflow: auto;
    padding: 1em;
    border-radius: 5%;
    position: absolute;
    row-gap: 5vmin;
    column-gap: 1vmin;
}

p {
    margin: auto;
    align-content: center;
    justify-content: center;
}
h1, h2 {
    margin: 0 auto;
    align-content: center;
}